<!DOCTYPE html>
<html>
<head>
	<style>
		body { background-image:url('background.jpg'); }
	 </style>
	<title style="color:white;">Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p style="color:white;">Profile</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td style="color:white;" >Hello, </td><td style="color:white;"><%= name %></td></tr>
					
				</table>
			</center>
		</div>
		<div class="abc">
			<a style="color:white;" href="/index.html">Play Chess</a>
			<a style="color:white;" href="/logout">Logout</a>
		</div>
	</div>
</body>
</html>